.ui.grid.stackable.divided
  .row
    %h2.ui.header Phosphenes
  .eight.wide.column
    %address
      %strong Cesar Torres, Jessica Chang, Advaita Patel, Eric Paulos
      %br/
      cearto@berkeley.edu
      %br/

